@charset "UTF-8";
body {
  margin: 0;
  background-color: rgb(219, 219, 219);
}

#top {
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: rgb(219, 219, 219);
}
#sitename {
  position: relative;
  top: 40%;
  left: 15%;
  width: 85%;
  font-family: objektiv-mk3, sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 3rem;
}

.aboutboxs {
  background-color: rgb(219, 219, 219);
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.aboutbox {
  background-color: rgb(219, 219, 219);
  padding: 2%;
  width: 27%;
}

#rogo {
  border-radius: 50%;
  height: 100px;
  position: relative;
  top: 31px;
}
.about {
  width: 800px;
  margin: auto;
}
.rogo {
  border-radius: 50%;
  width: 400px;
  margin: 0;
}
.kikaku {
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: 2px 2px 0px 0px;
  font-size: 0.8rem;
}
.kyoku {
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: 0px 0px 10px 3px;
  font-size: 1.1rem;
}
a {
  color: #000000;
  text-decoration: none;
}
h1 {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: italic;
}
h2 {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: italic;
}
h3 {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: italic;
}
p {
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  font-style: normal;
}
td {
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 0.8rem;
}
.credit {
  font-style: italic;
}
.youtube {
  color: #ff0000;
}
.twitter {
  color: #11a8ff;
}
.github {
  color: #000000;
}
.instagram {
  color: #ff579d;
}
.url {
  color: #2b6392;
}
@media screen and (max-width: 1350px) {
  .about {
    width: 700px;
    margin: auto;
  }
}
@media screen and (max-width: 1020px) {
  .about {
    width: 600px;
  }
  .aboutbox {
    width: 27%;
    padding: 2%;
  }
}
@media screen and (max-width: 850px) {
  .about {
    width: 500px;
  }
  .aboutboxs .aboutbox {
    width: 40%;
    padding: 5%;
  }
}
@media screen and (max-width: 620px) {
  .about {
    width: 90%;
  }
  .aboutboxs .aboutbox {
    width: 90%;
    padding: 5%;
  }
  .rogo {
    width: 100%;
  }
}
