@charset "UTF-8";
body {
  margin: 0;
  background-color: rgb(219, 219, 219);
}

#top {
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: rgb(219, 219, 219);
}
#sitename {
  position: relative;
  top: 40%;
  left: 15%;
  width: 85%;
  font-family: objektiv-mk3, sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 3rem;
}
#menue {
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  background-color: rgba(214, 214, 214, 0.945);
}
.menuebox {
  width: 33.3333%;
  border: solid 2px #bdbdbd;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}
.menuebox a {
  color: #585858;
  text-decoration: none;
}
.about {
  width: 100%;
}
#about {
  background-color: rgb(219, 219, 219);
  display: flex;
}
.aboutbox {
  background-color: rgb(219, 219, 219);
  width: 33.3333%;
  padding: 50px;
}
#rogo {
  border-radius: 50%;
  height: 100px;
  position: relative;
  top: 31px;
}
.about {
  width: 1300px;
  margin: auto;
}
.rogo {
  border-radius: 50%;
  width: 90%;
  margin: 5%;
}
.kikaku {
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: 2px 2px 0px 0px;
  font-size: 0.8rem;
}
.kyoku {
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: 0px 0px 10px 3px;
  font-size: 1.1rem;
}
.youtube {
  color: #ff0000;
  font-size: 1.3rem;
}
.twitter {
  color: #11a8ff;
  font-size: 1.3rem;
}
.github {
  color: #000000;
  font-size: 1.3rem;
}
.instagram {
  color: #ff579d;
  font-size: 1.3rem;
}
h1 {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: italic;
}
h2 {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: italic;
}
h3 {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: italic;
}
p {
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  font-style: normal;
}
@media screen and (max-width: 1350px) {
  #about {
    background-color: rgb(219, 219, 219);
    display: flex;
  }
  .aboutbox {
    background-color: rgb(219, 219, 219);
    width: 33.3333%;
    padding: 20px;
  }
  .about {
    width: 1000px;
    margin: auto;
  }
}
@media screen and (max-width: 1020px) {
  #about {
    width: 100%;
  }
  .about {
    width: 100%;
  }
}
@media screen and (max-width: 850px) {
  #about {
    width: 100%;
  }
  .about {
    width: 100%;
  }
  .aboutbox {
    width: 100%;
  }
}
