@charset "UTF-8";
body {
  margin: 0;
  background-color: rgb(219, 219, 219);
}

#top {
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: rgb(219, 219, 219);
}
#sitename {
  position: relative;
  top: 40%;
  left: 15%;
  width: 85%;
  font-family: objektiv-mk3, sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 3rem;
}

.about {
  width: 100%;
}
.aboutboxs {
  background-color: rgb(219, 219, 219);
  flex-wrap: wrap;
  width: 98%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.aboutbox {
  background-color: rgb(219, 219, 219);
  padding: 0%;
  margin: 0;
  width: 31%;
}
a {
  text-decoration: none;
  color: #000;
}
.aboutbox a {
  color: #000;
  text-decoration: none;
}
#rogo {
  border-radius: 50%;
  height: 100px;
  position: relative;
  top: 31px;
}
.about {
  width: 1300px;
  margin: auto;
}
.rogo {
  border-radius: 50%;
  width: 90%;
  margin: 5%;
}
.kikaku {
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: 2px 2px 0px 0px;
  font-size: 0.8rem;
}
.kyoku {
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: 0px 0px 10px 3px;
  font-size: 1.1rem;
}

h1 {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: italic;
}
h2 {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: italic;
}
h3 {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: italic;
}
p {
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  font-style: normal;
}
.credit {
  font-style: italic;
}

@media screen and (max-width: 1350px) {
  .about {
    width: 1000px;
    margin: auto;
  }
}
@media screen and (max-width: 1020px) {
  .about {
    width: 800px;
  }
  .aboutbox {
    width: 32%;
    margin: 0;
    padding: 0;
  }
  #menue {
    height: 26px;
  }
  .menuebox {
    padding-top: 0px;
  }
}
@media screen and (max-width: 850px) {
  .about {
    width: 600px;
  }
  .aboutboxs .aboutbox {
    width: 48%;
    padding: 0%;
  }
}
@media screen and (max-width: 620px) {
  .about {
    width: 100%;
  }
  .aboutboxs .aboutbox {
    width: 90%;
    padding: 5%;
  }
}
